<mat-card class="card-detail">
  <img class="poster" mat-card-image src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
  <mat-card-content class="card-contant">
    <h1 class="card-detail-title">{{movie.title}}</h1>
    <p class="card-text"><strong>Sinópse:</strong>  {{movie.overview}}</p>
    <p class="card-text"><strong>Data de Lançamento:</strong> {{movie.release_date}}</p>
    <p class="card-text"><strong>Gênero:</strong> {{movie.genres[0].name}}</p>
    <p class="card-text"><strong>Duração:</strong> {{movie.runtime}}min</p>
    <p class="card-text"><strong>Média:</strong> {{movie.vote_average}}</p>
    <p *ngIf="movie.homepage"><strong>Disponível em: </strong><a target="_blank" href="{{movie.homepage}}">{{movie.homepage}}</a></p>
    <button (click)="goBack()" class="back-button">Voltar</button>
  </mat-card-content>
</mat-card>
